#footer {
    -fx-background-color: #0C5075;
    -fx-border-style: solid;
    -fx-border-width: 2px 0 0 0;
    -fx-border-color: grey;
}

#footer .button {
    -fx-border-radius: 0;
    -fx-border-color: grey;
    -fx-background-color: lightgrey;
    -fx-background-radius: 0;
}

#footer .button:hover {
    -fx-border-color: white;
}

#footer .button:pressed {
    -fx-background-color: #bfbfbf;
}


#questionLabel {
    -fx-background-color: #0C5075;
    -fx-text-fill: #F2F6F7;

}
#questionName {
    -fx-background-color: #0C5075;
    -fx-text-fill: #F2F6F7;
}
#questionWeight {
    -fx-background-color: #0C5075;
    -fx-text-fill: #F2F6F7;
}

#removeQuestion {
    -fx-background-color: #FF3333;
    -fx-text-fill: #F2F6F7;
}
#removeAnswer {
    -fx-background-color: #FF3333;
    -fx-text-fill: #F2F6F7;
}

#answerValue {
    -fx-background-color: #0C5075;
    -fx-text-fill: #F2F6F7;
}

#answerLabel {
    -fx-background-color: #0C5075;
    -fx-text-fill: #F2F6F7;
}
